body {
  background-color: var(--tg-theme-bg-color);
}

p {
  color: var(--tg-theme-text-color);
}

a {
  color: var(--tg-theme-link-color);
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}